body {
  font-family: Helvetica, Arial,  sans-serif;
  font-family: 'Spectral Regular';
  font-size: 24px;
  line-height: 36px;
  background-color: #002d72;
  color: #fff;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'Spectral Light';
}

h1 {
  font-size: 92px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

em {
  font-style: normal;
  font-family: 'Spectral Medium Italic';
}

.logo {
  font-weight: bold;
}

.layout {
  padding: 72px 0px;

}

.layout__header {

}

.layout__header a {
  font-size: 80px;
}

.layout__container {
  max-width: 880px;
  padding: 0 20px;
  margin: auto;
}

.layout__footer {
  margin-top: 96px;
}

a {
  color: #fff !important;
  text-decoration: none;
  box-shadow: none;
}

a:hover {
  /* color: #0035EC !important; */

}

.layout__name {
  font-size: 92px;
  
}

.layout__section {
  padding: 40px 0px;
  border-bottom: 3px solid #fff;
}

.layout__section:first-child {

}

.layout__section:last-child {
  border-bottom: none;
}


.layout__more {
  margin-top: 96px;
  color: #3ccdba;
}


.logo__link:hover {
  opacity: 1 !important;
}